.home{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
justify-items: center;
    align-items: center;
    height: 95vh;
    text-align: center;

    img{
        max-width: 80%;
    }
    .logoM{
        display: none;
    }
    .logo{
        display: block;
    }
}

@media (orientation : portrait) {
    .home{
        width: 90vw;
        height: 80vh;
        
        .logo{
            display: none;
        }
        .logoM{
            display: block;
        }
    }
}