.navFirstBloc {
    display: grid;
    grid-template-columns: 60px 1fr;
    justify-content: center;
    align-items: start;

    a:first-child {
        margin-right: 1em;
    }

    a:first-child img {
        box-sizing: border-box;
        border-radius: 50%;
        width: 100%;
        border: 3px solid white;
        transition: all 300ms;
    }
    a:first-child:hover img {
        transform: rotate(315deg);
    }

    .searchBloc {
        box-sizing: border-box;
        background-color: white;
        height: fit-content;
        overflow: hidden;
        border-radius: 10px;
        transition: all 200ms;
        z-index: 100;

        div {
            position: relative;
        }

        #search {
            box-sizing: border-box;
            height: 50px;
            border: none;
            padding: 1em;
            border-radius: 10px;
            width: 100%;
            display: block;
            position: relative;
        }

        #searchResult {
            width: 100%;
            box-sizing: border-box;
            max-height: 50vh;
            overflow-y: scroll;
            margin: 0;
            padding: 0;
        }

        #searchClose {
            border: none;
            background-color: transparent;
            position: absolute;
            top: 50%;
            right: 0.5em;
            translate: 0 -50%;
        }
    }
}

.navSecondBloc {
    text-align: center;

    .generations {
        box-sizing: border-box;
        padding: 0 1em;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 0.5em;

        button {
            border-radius: 50%;
            padding: 0.7em;
            height: 100%;
            aspect-ratio: 1/1;
            border: none;
            font-weight: bold;
            font-size: 1em;
        }

        button:hover {
            box-shadow: inset 0 0 20px rgb(50, 50, 50);
        }
    }

    h3 {
        padding: 1em 0 0 0;
        color: white;
    }

    h3 {
        box-shadow: 0 -5px 5px rgb(255, 255, 255, 0.2);
        border-radius: 15px 15px 0 0;
    }
}

.typeList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding: 0 1em;

    img {
        box-sizing: border-box;
        width: 100%;
        border-radius: 50%;
        padding: 0.5em;
        box-shadow: inset 0 0 2em rgb(255, 255, 255, 0.3);
        transition: all 200ms;
    }

    img:hover {
        padding: 0;
        box-shadow: inset 0 0 2em rgb(255, 255, 255);
    }
}


.show {
    display: block;
    height: 100%;
    overflow: hidden;
    transition: all 200ms;
}

.hide {
    display: none;
    height: 0%;
    overflow: hidden;
    transition: all 200ms;
}

@media (orientation : portrait) {
    .type {
        ul {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    .navFirstBloc {
        grid-template-columns: 60px 1fr 60px;

    }


    .menuBurger {
        display: grid;
        margin-left: 10px;
        grid-template-rows: 1fr 1fr 1fr;
        height: 50px;

        div {
            background-color: white;
            width: 90%;
            height: 45%;
            border-radius: 5px;
            transition: all 200ms;
        }
    }

    .generations {
        button {
            font-size: 1.3em;
        }
    }

    .menuBurgerOpen {

        div:first-child {
            transform-origin: top right;
            transform: rotate(-45deg);
            background-color: #ff5555 !important;
        }

        div:nth-child(2) {
            height: 0px !important;
        }

        div:nth-child(3) {
            transform-origin: bottom right;
            transform: rotate(45deg);
            background-color: #ff5555 !important;
        }
    }
}